* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("https://imgur.com/ekpcjFR.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.back {
  /* transform-origin: top right; */
  display: flex;
  position: relative;
  /* top: 110px;
  left: 100px; */
  /* transform: rotate(90deg); */
  color: black;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  /* vertical-align: top; */
}
.about-container {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.232);
}

.photo {
  justify-content: left;
  padding-right: 25px;
}

.about-photo {
  justify-content: left;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.bio {
  padding-left: 2px;
  display: flex;
  align-items: center;
  width: 350px;
}

.bio-text {
  font-size: 1.2em;
}
