* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav-selectors {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-right: 5px;
}

.nav-link:hover {
  color: white;
  background-color: rgb(69, 71, 81);
}
body {
  background-image: url("https://imgur.com/ekpcjFR.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* width: fit-content; */
  height: 200%;
  /* position: absolute; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  image-rendering: optimizeQuality;
  image-rendering: crisp-edges;
}

.back {
  /* transform-origin: top right; */
  display: flex;
  position: relative;
  /* top: 110px;
  left: 100px; */
  /* transform: rotate(90deg); */
  color: black;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  /* vertical-align: top; */
}
#projects {
  color: white;
  /* padding-top: 25px; */
  font-size: larger;
  animation-name: link;
  animation-duration: 8s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
#projects2 {
  color: white;
  padding-top: 100px;

  font-size: larger;
  animation-name: link;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
@keyframes link {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.projects-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50vw;
  margin-right: 50vw;
}

.project-card {
  display: flex;
  justify-content: center;
  height: 600px;
}
.project-body {
  background-color: rgba(0, 0, 0, 0.519);
  /* border: solid rgba(0, 0, 0, 0.142) 0.5px; */
  width: 500px;
  height: 600px;
  padding: 10px;
}

.project-body-header {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

.project-photo {
  width: 500px;
  height: 300px;
  object-fit: fill;
}

.project-body-text {
  padding: 10px;
  text-align: center;
}

.project-framework {
  padding: 10px;
  text-align: center;
}

.project-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-decoration: underline;
}

.project-link:hover {
  color: white;
  /* border: solid 1px rgb(102, 124, 223); */
  background-color: black;
}
